{% extends 'mentor/base1.html' %}

{% load humanize %}


{% block content %}

<br><br><br>

 <h1>Here Are Your Approved Messages</h1>


<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-12">
          <div class="content-section">

              <ul class="list-group">
                  <div class="content-section">
      <div class="media">


     {% if messo %}
  <ol>
      {% for approved in messo %}

      <h2><li><a href="">From {{ approved.sender }} </a> Comment: {{ approved.comment }} Approved At: {{ approved.date_approved|naturaltime }}</li></h2>



      {% endfor %}


  </ol>

{% else %}

<p>There Are no Approved Messages</p>

{% endif %}

      </div>

   </div>


              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>






{% endblock %}