{% extends 'mentor/base1.html' %}

{% load humanize %}


{% block content %}



 <h1>Here are Requests You Approved</h1><br>

  <div class="row">
        <div class="col-md-12">
 <div class="content-section">

 <h2>Here are Requests You Approved</h2>
<div class="table-responsive">
<table class="table mb-0">
    <thead>
      <tr>
          <th>No</th>
          <th>From</th>
          <th>Comment</th>
          <th>Approved At</th>
           <th>Status</th>
          <th>Start Chat</th>



      </tr>
    </thead>
    <tbody>

    {% if messo %}
  <ol>

 {% for approved in messo %}
    <tr>
         <td>{{ approved.id }}</td>
        <td>{{ approved.sender }}</td>
          <td>{{ approved.comment }}</td>
        <td>{{ approved.date_approved|naturaltime }}</td>


        {% if approved.is_approved == True %}

   <td> <button type="button" class="btn btn-success btn-sm">Approved</button></td>


        {% endif %}

        <td> <a class="btn btn-primary btn-sm" href="{% url 'start-chat1' pk=approved.sender.pk %}">Start Chat</a></td>
    <td><a class="btn btn-info btn-sm" href="{% url 'pdf1' %}">Download Pdf</a></td>




    </tr>


{% endfor %}


       </ol>

{% else %}

<p>There Are no Approved Messages</p>

{% endif %}

 </tbody>




  </table>
</div>

 </div>
        </div>
</div>






{% if is_paginated %}



        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
             <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>

            {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}


        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}




        {% endif %}








{% endblock %}