{% extends 'mentor/base1.html' %}

{% load humanize %}


{% block content %}

<br><br><br>

 <h1>Here are Requests You Approved</h1><br>






  <div class="row">
        <div class="col-md-12">
 <div class="content-section">

 <h2>Here are Requests You Approved</h2>
<div class="table-responsive">
<table class="table mb-0">
    <thead>
      <tr>
          <th>No</th>
          <th>From</th>
          <th>Comment</th>
          <th>Approved At</th>
           <th>Status</th>
          <th>Start Chat</th>



      </tr>
    </thead>
    <tbody>

    {% if messo %}
  <ol>

 {% for approved in messo %}
    <tr>
         <td>{{ approved.id }}</td>
        <td>{{ approved.sender }}</td>
          <td>{{ approved.comment }}</td>
        <td>{{ approved.date_approved|naturaltime }}</td>

   <td> <button type="button" class="btn btn-success btn-sm">{{ approved.is_approved }}</button></td>

        <td> <a class="btn btn-primary btn-sm" href="{% url 'start-chat1' pk=approved.pk %}">Start Chat</a></td>




    </tr>


{% endfor %}


       </ol>

{% else %}

<p>There Are no Approved Messages</p>

{% endif %}

 </tbody>




  </table>
</div>

 </div>
        </div>
</div>






{% endblock %}