{% extends 'mentor/base1.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}




<div class="row">
        <div class="col-md-8">
 <div class="content-section">






	<h1>Start Your Chart</h1>
	<form method="post">
		{% csrf_token %}

		{{ form|crispy }}


        <button type="submit" class="btn btn-info btn-sm">Send Message</button>
	</form>



	 </div>
        </div>
</div>


<style>
/* Chat containers */
.container1 {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container1::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container1 img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container1 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

</style>




{% endblock %}