{% extends 'mentor/base1.html' %}

{% load humanize %}

{% block content %}


  <div class="row">
        <div class="col-md-12">
 <div class="content-section">

 <h2>Your Conversations</h2>
<div class="table-responsive">
<table class="table mb-0">
    <thead>
      <tr>
          <th>No</th>
          <th>To</th>
          <th>Conversation</th>
          <th>Created At</th>
          <th>View Chat</th>
           <th>Delete Chat</th>




      </tr>
    </thead>
    <tbody>

    {% if conversation %}
  <ol>

 {% for conv in conversation %}
    <tr>
         <td>{{ conv.id }}</td>
        <td>{{ conv.receipient }}</td>
          <td>{{ conv.conversation }}</td>
        <td>{{ conv.sent_at|naturaltime }}</td>

        <td> <a class="btn btn-primary btn-sm" href="{% url 'conv-reply' pk=conv.pk %}">View Chat</a></td>
          <td> <a class="btn btn-danger btn-sm" href="{% url 'conversation-delete' pk=conv.pk %}">Delete Conv</a></td>


    </tr>


{% endfor %}


       </ol>

{% else %}

<p>There Are no Chats Available</p>

{% endif %}

 </tbody>




  </table>
</div>

 </div>
        </div>
</div>









{% endblock %}